@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(243, 100%, 93%);
    min-height: 100vh;
    background: url('./images/bg-desktop.png') no-repeat center bottom hsl(229, 57%, 11%);
    background-size: 100% 50vh;
    padding: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2rem;
    height: auto;
    width: 100%;
}

.left {
    background: hsl(228, 56%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    align-items: start;
    width: 100%;
    max-width: 20.625rem;
    height: 200px;
    padding: 2rem;
    border-radius: 15px 100px 15px 15px;
}

.icons {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 3rem;
    height: 3rem;
    border-radius: .6rem;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.right {
    display: flex;
    background: hsl(228, 56%, 26%);
    flex-direction: column;
    height: 150px;
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    border-radius: 15px;
}