@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(243, 100%, 93%);
    min-height: 100vh;
    background: url('./images/bg-desktop.png') no-repeat center bottom/contain hsl(229, 57%, 11%);
}

.container {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: auto;
}

.left {
    background: hsl(228, 56%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 350px;
    height: 200px;
    padding: 2rem;
    border-radius: 15px 100px 15px 15px;
}